In [1]:
import sys
import pandas as pd
import numpy as np
import datetime
import glob
import gc
import os

#========================================================================
# Args
#========================================================================
key = 'card_id'
target = 'target'
ignore_list = [key, target, 'merchant_id', 'first_active_month']

win_path = f'../features/4_winner/*.gz'
fname=''
# submit = pd.read_csv('../input/sample_submission.csv')
submit = []

HOME = os.path.expanduser('~')

sys.path.append(f"{HOME}/kaggle/data_analysis/library/")
import utils
from preprocessing import get_ordinal_mapping
from utils import logger_func
try:
    if not logger:
        logger=logger_func()
except NameError:
    logger=logger_func()

start_time = "{0:%Y%m%d_%H%M%S}".format(datetime.datetime.now())

2018-12-31 14:59:50,219 utils 366 [INFO]    [logger_func] start

In [5]:
import pandas as pd
### multi feature pred valid
# df = pd.read_csv('../output/0101_10_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0101_12_elo_multi_feat_valid.csv')
# df = pd.read_csv('../output/0102_19_elo_multi_feat_valid.csv')
df = pd.read_csv('../output/0102_23_elo_multi_feat_valid.csv')
display(df.head())
pd.set_option('max_rows', 200)
df.iloc[5, :][df.iloc[5, :]>0].sort_values()

,Unnamed: 0,0_base,1_continuous_week_mean@,2_cont_month_cut_cnt@,3_continuous_week_std@,4_continuous_week_min@,5_cont_week_cut_cnt@,6_continuous_week_max@,val_1_continuous_week_mean@,val_2_cont_month_cut_cnt@,val_3_continuous_week_std@,val_4_continuous_week_min@,val_5_cont_week_cut_cnt@,val_6_continuous_week_max@
0,0,3.653467,3.655468,3.656330,3.657095,3.657599,3.657277,3.655763,0,0,0,0,0,0
1,1,3.648336,3.650784,3.650457,3.650153,3.649485,3.649014,3.648998,0,0,0,0,0,0
2,2,3.652787,3.654982,3.652905,3.650725,3.651744,3.653336,3.653436,0,0,1,1,0,0
3,3,3.657778,3.658332,3.659014,3.657492,3.658263,3.658167,3.656731,0,0,1,0,0,1
4,4,3.645983,3.651072,3.650235,3.648708,3.648714,3.649596,3.648121,0,0,0,0,0,0

0_base                     3.651670
6_continuous_week_max@     3.652610
3_continuous_week_std@     3.652834
4_continuous_week_min@     3.653161
5_cont_week_cut_cnt@       3.653478
2_cont_month_cut_cnt@      3.653788
1_continuous_week_mean@    3.654128
Unnamed: 0                 5.000000
Name: 5, dtype: float64